/**
 *
 * Footer freeman
 *
 */

#footer-freeman {


	.footer-inner {

		p {

			margin-bottom: 0px !important;
		}

		.row {
			width: 100%;
			// border: 1px solid red;

			@media (min-width: 1199px) {

				margin-right: 0px !important;
			}
		}



		.info {

			border-right: 1px solid #013300;

			@media (min-width: 1920px) {

				padding-left: 5vw;
			}

			@media (min-width: 1499px) {

				padding-left: 4vw;
			}

			@media (min-width: 1366px) {

				padding-left: 3vw;
			}

			@media (max-width: 1365px) {

				padding-left: 2vw;
			}

			@media (max-width: 1199px) {

				border-right: 0px;
				border-bottom: 1px solid #013300;
				padding: 0px;
				padding-bottom: 2vw;
				padding-top: 2vw;
			}

			@media (max-width: 765px) {

				border-right: 0px;
				border-bottom: 0px;
				padding: 0px;
				padding-bottom: 2vw;
				padding-top: 2vw;
			}

			&:last-child {

				border-right: 0px;
			}
		}

		// top
		.footer-inner-top {

			background: url('../../../assets/img/get-in-touch-bg.png') 0px 0px no-repeat;
			padding: 3rem 0rem;

			.inner-wrapper {

				max-width: 80%;
				margin: auto;
				margin-bottom: 15px;

				h2 {
					font-size: 50px;
					font-weight: 700;
					line-height: 65px;
					margin-bottom: 0px;
					color: $white;
					text-align: center;
				}

				p {
					font-size: 20px;
					margin-bottom: 0px;
					font-weight: 400;
					color: $white;
					text-align: center;
				}

				.fm-button {

					// padding-left: 60px;
					// padding-right: 60px;
					min-width: 250px;
				}

				.footer-inner-top-buttons {

					@media (max-width: 765px) {

						flex-direction: column !important;

						a {

							margin: 0px 0px 15px 0px !important;
						}
					}
				}
			}
		}


		// bottom
		.footer-inner-bottom {

			background: url('../../../assets/img/footer-box.png') 0px 0px no-repeat;
			padding: 3rem 0rem;

			@media (max-width: 765px) {

				padding: 3rem 0rem 0rem;
				background-size: cover;
				background-position: center center;
			}

			.row {

				@media (max-width: 1199px) {

					margin: 0px !important;
				}
			}

			.inner-wrapper {

				max-width: 80%;
				margin: auto;

				.footer-social-buttons {

					padding-top: 15px;

					.social-icon {

						color: $primary !important;
						margin-right: 1.1rem;
						font-size: 20px;

						i {
							color: $primary !important;
						}
					}
				}
			}
		}
	}

	.footer-logo {

		width: 250px;
    	margin: auto;
    	display: block;
		margin-bottom: 30px;
	}
}


/* -------------- Hide foofetr on login page -------------- */
.page-id-6766 {

	#footer-freeman {

		.footer-inner-top, .footer-inner-bottom {

			display: none;
		}
	}
}

.page-id-6785 {

	#footer-freeman {

		.footer-inner-top {

			display: none;
		}
	}
}

.error404 {

	#footer-freeman {

		.footer-inner-top, .footer-inner-bottom {

			display: none;
		}
	}
}
