/**
 *
 * Freeman Styles for 404 Error Page
 *
 */

#freeman-404 {

	.page-content {

		padding-top: 200px;
		padding-bottom: 100px;
		max-width: 33%;
		margin: auto;


		@media (max-width: 991px) {

			max-width: 50%;
		}

		@media (max-width: 767px) {

			max-width: 70%;
		}

		@media (max-width: 360px) {

			max-width: 100%;
		}

		h1 {

			font-size: 10rem;
			font-weight: 700;

			a {
				color: $cg-accent !important;
			}
		}

		h3 {

			font-size: 3rem;
			color: $primary;
			font-weight: 700;
		}

		h6 {

			font-size: 1.5rem;
			color: #3B3B3B;
			font-weight: 400;
		}

		.button-404-redirect {

			background-color: transparent;
			color: $cg-button;
			font-size: 1.5rem;
			font-weight: 500;
			margin-top: 30px !important;
			display: block;
		}
	}
}
